<template>
  <div v-if="!!binary" class="content">
    <h1><IBiFileEarmark /> Analysis for {{ binary.name }}</h1>
    <div class="row">
      <div class="col-sm-8" style="display: flex">
        <div id="position">
          <div class="display_header">Offset(h)</div>
          <div class="display_header">{{ padLeadingZeros(0, 8) }}</div>
          <div v-for="i in binary.data.length" :key="i" class="display_header">
            <span v-if="i % 32 === 30">
              {{ padLeadingZeros(((i / 32) * 16).toString(16).toUpperCase(), 8) }}
            </span>
          </div>
        </div>
        <div id="hexadecimal">
          <div class="display_header">00 01 02 03 04 05 06 07 08 09 0A 0B 0C 0D 0E 0F</div>
          <div style="width: 640px; display: flex; flex-direction: row; flex-wrap: wrap">
            <HexComponent
              :group="hexadecimal"
              :css-map="cssMap"
              :hovered="hovered"
              @selected="(offset, target) => handleClick(offset, target)"
              @hover="name => hovered.push(name)"
              @unhover="name => hovered.pop()"
            />
          </div>
        </div>
        <div id="decoded">
          <br />
          <DecodedComponent
            :group="hexadecimal"
            :css-map="cssMap"
            :hovered="hovered"
            @selected="(offset, target) => handleClick(offset, target)"
            @hover="name => hovered.push(name)"
            @unhover="name => hovered.pop()"
          />
        </div>
      </div>
      <div id="legend" class="col-sm-4">
        <LegendComponent
          :group="hexadecimal"
          :css-map="cssMap"
          :hovered="hovered"
          @changed="fetchData(parseInt(route.params.id as string))"
          @edit="analysisId => editAnalysis(analysisId)"
          @split="analysisId => splitAnalysis(analysisId)"
          @show-others="
            group =>
              showOthers(
                parseInt(group.analysis.start, 16),
                parseInt(group.analysis.end, 16),
                binary.groupIds,
                group.analysis.id
              )
          "
          @hover="name => hovered.push(name)"
          @unhover="name => hovered.pop()"
        />
      </div>
      <div style="float: left; margin: 8px">
        <BButtonGroup>
          <BButton variant="secondary" :class="{ active: binary.status == 'NOT' }" @click="not()">
            <IBiSquare /> {{ t('not_yet_analyzed') }}
          </BButton>
          <BButton variant="secondary" disabled :class="{ active: binary.status == 'AUTO' }">
            <IBiCheck2Square /> {{ t('auto_analyzed') }}
          </BButton>
          <BButton
            variant="secondary"
            :class="{ active: binary.status == 'COMPLETE' }"
            @click="complete()"
          >
            <IBiCheck2Square /> {{ t('completely_analyzed') }}
          </BButton>
          <BButton
            variant="secondary"
            :class="{ active: binary.status == 'PARTIAL' }"
            @click="partial()"
          >
            <IBiStarHalf /> {{ t('partially_analyzed') }}
          </BButton>
        </BButtonGroup>
        <BButton variant="primary" @click="bulkCreate()" class="btn-bulk" :title="t('bulk_create')"
          ><IBiListTask />
        </BButton>
        <BButton
          :to="`/binaries/${binary.id}`"
          variant="secondary"
          class="btn-edit"
          :title="t('edit_binary')"
        >
          <IBiPencil />
        </BButton>
        <BButton
          variant="secondary"
          class="btn-split-roots"
          @click="splitByRoots()"
          :title="t('split_by_roots')"
        >
          <IBiScissors />
        </BButton>
      </div>
    </div>
  </div>

  <BModal v-model="modalAnalysis.open" size="lg" @ok="createAnalysis()">
    <BFormGroup
      id="analysis_name"
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      description="Unique name of this datapart within the packet (e.g. \'header0\')"
      label="Name"
      label-for="analysis_name"
      required
    >
      <BFormInput
        v-model="modalBulk.analysis.name"
        type="text"
        name="analysis_name"
        ng-pattern="/^[a-z0-9_]+$/"
      />
    </BFormGroup>
    <BFormGroup
      id="analysis_start"
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      description="First and last byte of datapart in binary"
      label="Start / End"
      label-for="analysis_start"
      required
    >
      <div>
        <BFormInput
          v-model="modalAnalysis.analysis.start"
          type="text"
          name="analysis_start"
          style="width: 67px; display: inline-block"
          required
          @keydown="keyEvent('start', $event)"
        />
        <BFormInput
          v-model="modalAnalysis.analysis.end"
          type="text"
          name="analysis_end"
          style="margin-left: 10px; width: 67px; display: inline-block"
          required
          @keydown="keyEvent('end', $event)"
        />
        ({{ analysisLength(modalAnalysis.analysis) }} Bytes)
        <BButton variant="secondary" size="sm" @click="showOthersModalAnalysis()">o</BButton>
      </div>
    </BFormGroup>
    <BFormGroup
      id="analysis_description"
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      description="Human readable description of this datapart"
      label="Description"
      label-for="analysis_description"
      required
    >
      <BFormTextarea
        v-model="modalBulk.analysis.description"
        type="text"
        name="analysis_description"
        rows="4"
        cols="30"
        required
      />
    </BFormGroup>
    <BFormGroup
      id="analysis_color"
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      description="Color to be used for this datapart"
      label="Color"
      label-for="analysis_color"
      required
    >
      <BFormInput
        v-model="modalBulk.analysis.description"
        type="text"
        name="analysis_color"
        required
      />
    </BFormGroup>
    <BFormGroup
      id="analysis_foregroundColor"
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      description="Foregroundcolor to be used for this datapart (optional)"
      label="Foregroundcolor"
      label-for="analysis_foregroundColor"
      required
    >
      <BFormInput
        v-model="modalBulk.analysis.description"
        type="text"
        name="analysis_foregroundColor"
        required
      />
    </BFormGroup>
  </BModal>

  <BModal v-model="modalBulk.open" size="lg">
    <BFormGroup
      id="analysis_name"
      label-cols-sm="4"
      label-cols-lg="3"
      content-cols-sm
      content-cols-lg="7"
      description="Unique name of this datapart within the packet (e.g. \'header0\')"
      label="Name"
      label-for="analysis_name"
      required
    >
      <BFormInput
        v-model="modalBulk.analysis.name"
        type="text"
        name="analysis_name"
        ng-pattern="/^[a-z0-9_]+$/"
      />
    </BFormGroup>
    <table>
      <tbody>
        <tr>
          <th><label for="analysis_search">Search*</label></th>
          <td>
            <input
              id="analysis_search"
              v-model="modalBulk.search"
              type="text"
              name="analysis_search"
              style="width: 150px; display: inline-block"
              class="form-control"
              required
            />
            ({{ findModalBulk().length }} matches)
          </td>
          <td class="description">Create analysis blocks for the value</td>
        </tr>
        <tr>
          <th><label for="analysis_description">Description*</label></th>
          <td>
            <textarea
              id="analysis_description"
              v-model="modalBulk.analysis.description"
              name="analysis_description"
              rows="4"
              cols="30"
              style="width: 250px"
              class="form-control"
              required
            ></textarea>
          </td>
          <td class="description">Human readable description of this datapart</td>
        </tr>
        <tr>
          <th><label for="analysis_color">Color*</label></th>
          <td>
            <div class="ui-widget">
              <input
                id="analysis_color"
                v-model="modalBulk.analysis.color"
                type="text"
                name="analysis_color"
                style="width: 250px"
                class="form-control"
                required
              />
            </div>
          </td>
          <td class="description">Color to be used for this datapart</td>
        </tr>
        <tr>
          <th><label for="analysis_foregroundColor">Foregroundcolor</label></th>
          <td>
            <div id="analysis_foregroundColor" name="analysis_foregroundColor" class="ui-widget">
              <input
                v-model="modalBulk.analysis.foregroundColor"
                type="text"
                style="width: 250px"
                class="form-control"
              />
            </div>
          </td>
          <td class="description">Foregroundcolor to be used for this datapart (optional)</td>
        </tr>
      </tbody>
    </table>
  </BModal>

  <BModal v-model="modalOthers.open" size="lg" :title="othersTitle">
    <div class="form-group class row">
      <div v-for="group in modalOthers.groups" :key="group.id">
        <div class="col-sm-6 label-group-content">
          <div class="checkbox row">
            <input
              :id="`id_control_group{group.id}`"
              v-model="modalOthers.selectedGroupIds[group.id]"
              class="col-sm-2"
              type="checkbox"
              @change="reloadOthers()"
            />
            <label class="col-sm-10 control-label" :for="`id_control_group{group.id}`">
              {{ group.name }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <table style="width: 100%" class="table table-striped">
      <tbody>
        <tr
          v-for="(d, index) in modalOthers.data"
          :key="index"
          :style="{
            'background-color':
              d.data.replace(' ', '') == modalOthers.ourValue ? 'rgb(251, 231, 173)' : 'none'
          }"
        >
          <th style="vertical-align: top">
            <div>{{ d.data }}</div>
            <div>{{ convertToString(d.data) }}</div>
          </th>
          <td style="vertical-align: top">
            <div
              v-for="(binary_, index_) in d.binaries"
              :key="index_"
              class="row"
              title="{{binary_.analyses?.length > 0 ? binary_.analyses[0].description : ''}}"
            >
              <span
                class="col-sm-8 comma-separated"
                :style="{
                  color: binary_.analyses?.length > 0 ? binary_.analyses[0].color : 'inherit'
                }"
                >{{ binary_.name }}</span
              >
              <div class="col-sm-4">
                <BButton variant="light" size="sm" :to="`/binaries/{binary_.id}/analyze`">
                  <IBiCopy /> {{ t('analyze') }}
                </BButton>
                <BButton variant="light" size="sm" :to="`/binaries/{binary_.id}`">
                  <IBiPencil /> {{ t('edit') }}
                </BButton>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </BModal>
</template>

<script lang="ts" setup>
import { computed, reactive, ref, watch } from 'vue'
import { useRoute } from 'vue-router'
import { useI18n } from 'vue-i18n'

import type { Analysis, AnalysisStatus, Binary, DataSearchResult, Group } from '@/appframework'
import { getExisting, saveExisting, saveNew } from '@/appframework/lib/rest'

const { t } = useI18n()

const hovered = reactive([] as string[])

const route = useRoute()

const binary = ref({} as Binary)
async function fetchData(id: number) {
  binary.value = null as unknown as Binary
  binary.value = await getExisting(`binary/${id}`)
  renderPacket()
}

function generateCssHover(color: string, foregroundColor: string) {
  return `background-color: ${color}; opacity: 0.4; color: ${foregroundColor};`
}

function generateCss(color: string) {
  return `margin-left: -1px; margin-right: -1px; border: 1px solid ${color}; color: ${color}; transition: 0.1s;`
}

function analysisLength(analysis: Analysis) {
  return parseInt(analysis.end, 16) - parseInt(analysis.start, 16) + 1
}

const modalAnalysis = ref({
  open: false,
  analysis: {} as unknown as Analysis,
  binary: undefined as unknown as Binary
})
const modalBulk = ref({
  open: false,
  search: '',
  analysis: {} as unknown as Analysis
})
const modalOthers = ref({
  open: false,
  data: [] as DataSearchResult[],
  start: undefined as unknown as number,
  end: undefined as unknown as number,
  ourValue: undefined as unknown as string,
  analysis: undefined as unknown as Analysis,
  groupIds: [] as number[],
  groups: [] as Group[],
  selectedGroupIds: {} as Record<number, boolean>
})

export interface AnalsyisGroup {
  type: 'dummy' | 'group'
  name: string
  analysis: Analysis
  children: (AnalysisElement | AnalsyisGroup)[]
}

export interface AnalysisElement {
  index: number
  offset: string
  hex: string
  decoded: string
}

const cssMap = reactive({} as Record<string, string>)
const hexadecimal = ref({
  type: 'dummy',
  children: [] as (AnalysisElement | AnalsyisGroup)[]
} as AnalsyisGroup)
function renderPacket() {
  // TODO hack in test data
  binary.value.analyses.push(
    {
      id: 17,
      binaryId: binary.value.id,
      name: 'blub',
      start: '0x00',
      end: '0x01',
      description: '',
      color: 'red',
      foregroundColor: 'white'
    },
    {
      id: 18,
      binaryId: binary.value.id,
      name: 'blub2',
      start: '0x04',
      end: '0x06',
      description: '',
      color: 'green',
      foregroundColor: 'white'
    },
    {
      id: 19,
      binaryId: binary.value.id,
      name: 'blub3',
      start: '0x00',
      end: '0x06',
      description: '',
      color: 'blue',
      foregroundColor: 'white'
    },
    {
      id: 20,
      binaryId: binary.value.id,
      name: 'blub4',
      start: '0x0c',
      end: '0x1c',
      description: '',
      color: 'orange',
      foregroundColor: 'black'
    }
  )

  const groupStack = [
    {
      type: 'dummy',
      children: [] as (AnalysisElement | AnalsyisGroup)[]
    } as AnalsyisGroup
  ]
  hexadecimal.value = groupStack[0]

  // Generate CSS classes for all known analysis entries
  //cssMap
  for (const element of binary.value.analyses) {
    if (element.color) {
      const foregroundColor =
        element.foregroundColor && element.foregroundColor !== ''
          ? element.foregroundColor
          : '#000000'
      cssMap['.' + element.name] = generateCss(element.color)
      cssMap['.' + element.name + ':hover'] = generateCssHover(element.color, foregroundColor)
    }
  }

  for (let i = 0; i < binary.value.data.length; i += 2) {
    const index = Math.floor(i / 2)
    const hexOffset = integerToHexString(index)

    // Check if the current byte is a starting byte of any analysis entry
    for (const element of binary.value.analyses) {
      if (parseInt(element.start, 16) * 2 === i) {
        const newGroup = {
          type: 'group',
          name: element.name,
          analysis: element,
          children: [] as AnalysisElement[]
        } as AnalsyisGroup
        groupStack[groupStack.length - 1].children.push(newGroup)
        groupStack.push(newGroup)
      }
    }

    // Render the decoded bytes
    const tmp1 = parseInt(binary.value.data.substr(i, 2), 16)
    let tmp = ''
    if (tmp1 < 32 || (tmp1 > 126 && tmp1 < 161)) {
      tmp = '.'
    } else {
      tmp = String.fromCharCode(tmp1)
    }

    // Render the bytes
    groupStack[groupStack.length - 1].children.push({
      index: index,
      offset: hexOffset,
      hex: binary.value.data.substr(i, 2),
      decoded: tmp
    })

    for (const element of binary.value.analyses) {
      if (parseInt(element.end, 16) * 2 === i) {
        groupStack.pop()
      }
    }
  }
}

const hex_element_start = ref('')
function handleClick(offset: string, target: HTMLElement) {
  let hex_element_current = offset
  let class_ = target.getAttribute('class') || ''
  if (class_.indexOf('decoded_or_hex_element_selected') < 0) {
    class_ += ' decoded_or_hex_element_selected'
    target.setAttribute('class', class_)
  }
  // TODO also mirror between hex_ and decoded_
  if (!hex_element_start.value) {
    hex_element_start.value = hex_element_current
  } else {
    // Make sure hex_element_start is the first element
    if (hex_element_current < hex_element_start.value) {
      const tmp = hex_element_current
      hex_element_current = hex_element_start.value
      hex_element_start.value = tmp
    }

    const analysis = {} as Analysis
    analysis.name = ''
    analysis.start = hex_element_start.value
    analysis.end = hex_element_current
    analysis.description = ''
    analysis.color = ''
    analysis.foregroundColor = ''
    analysis.binaryId = binary.value.id

    modalAnalysis.value = {
      open: true,
      analysis: analysis,
      binary: binary.value
    }

    /* TODO
    $('#hex_element_' + hex_element_start).removeClass('decoded_or_hex_element_selected')
    $('#hex_element_' + hex_element_current).removeClass('decoded_or_hex_element_selected')
    $('#decoded_element_' + hex_element_start).removeClass('decoded_or_hex_element_selected')
    $('#decoded_element_' + hex_element_current).removeClass('decoded_or_hex_element_selected')*/
    hex_element_start.value = ''
  }
}

async function createAnalysis() {
  if (!modalAnalysis.value.analysis.id) {
    await saveNew('analysis', modalAnalysis.value.analysis)
  } else {
    await saveExisting('analysis', modalAnalysis.value.analysis, modalAnalysis.value.analysis.id)
  }
  modalAnalysis.value.binary = undefined as unknown as Binary
  modalAnalysis.value.open = false
  fetchData(binary.value.id)
}

watch(
  () => route.params.id as string,
  (id: string) => {
    fetchData(parseInt(id))
  },
  { immediate: true }
)

function padLeadingZeros(number: string | number, width: number) {
  let tmp = '' + number
  while (tmp.length < width) {
    tmp = '0' + tmp
  }
  return tmp
}

function integerToHexString(integer: number) {
  return padLeadingZeros(integer.toString(16).toUpperCase(), 4)
}

function splitByRoots() {
  let stack = 0

  for (let i = 0; i < binary.value.data.length; i += 2) {
    // Check if the current byte is a starting byte of any analysis entry
    for (const element of binary.value.analyses) {
      if (parseInt(element.start, 16) * 2 === i) {
        stack++
      }
    }

    for (const element of binary.value.analyses) {
      if (parseInt(element.end, 16) * 2 === i) {
        stack--
        if (stack == 0) {
          splitAnalysis(element.id)
        }
      }
    }
  }
}

async function splitAnalysis(analysisId: number) {
  let binary_: Binary | undefined
  for (const analysis of binary.value.analyses) {
    if (analysis.id === analysisId) {
      binary_ = {} as Binary
      binary_.status = binary.value.status
      binary_.name = binary.value.name + ' (' + analysis.start + ' -> ' + analysis.end + ')'
      binary_.data = binary.value.data.substring(
        parseInt(analysis.start, 16) * 2,
        (parseInt(analysis.end, 16) + 1) * 2
      )
      binary_.groupIds = binary.value.groupIds
      binary_.analyses = [JSON.parse(JSON.stringify(analysis))]
      binary_.parentId = analysis.id
      break
    }
  }

  if (binary_) {
    const data = await getExisting<Binary[]>(`binary?search=${binary_.name}`)
    if (data.length == 0) {
      const startWithin = parseInt(binary_.analyses[0].start, 16)
      const endWithin = parseInt(binary_.analyses[0].end, 16)
      for (const analysis of binary.value.analyses) {
        const start = parseInt(analysis.start, 16)
        const end = parseInt(analysis.end, 16)
        if (start >= startWithin && end <= endWithin && binary_.analyses[0].id != analysis.id) {
          const v = JSON.parse(JSON.stringify(analysis))
          binary_.analyses.push(v)
        }
      }
      for (const analysis of binary_.analyses) {
        analysis.start = integerToHexString(parseInt(analysis.start, 16) - startWithin)
        analysis.end = integerToHexString(parseInt(analysis.end, 16) - startWithin)
        analysis.id = undefined as unknown as number
        analysis.binaryId = undefined as unknown as number
      }
      const response = await saveNew('binary', binary_)
      if (response.status == 200) {
        console.log('Saved')
      } else {
        console.error('Already exists')
      }
    }
  }
}

async function partial() {
  await setStatus('PARTIAL')
}

async function complete() {
  await setStatus('COMPLETE')
}

async function not() {
  await setStatus('NOT')
}

async function setStatus(status: AnalysisStatus) {
  if (binary.value.status === status) {
    return
  }
  binary.value.status = status
  await saveExisting('binary', binary.value, binary.value.id)
}

function bulkCreate() {
  modalBulk.value.open = true
}

function editAnalysis(analysisId: number) {
  for (const analysis of binary.value.analyses) {
    if (analysis.id === analysisId) {
      modalAnalysis.value = {
        open: true,
        analysis: analysis,
        binary: binary.value
      }
    }
  }
}

async function showOthers(start: number, end: number, groupIds: number[], analysisId: number) {
  let analysis_: Analysis = undefined as unknown as Analysis
  for (const analysis of binary.value.analyses) {
    if (analysis.id === analysisId) {
      analysis_ = analysis
      break
    }
  }

  let url = `binary/extract?start=${start}&end=${end}`
  if (groupIds) {
    for (const groupId of groupIds) {
      url += '&groupIds=' + groupId
    }
  }
  const data = (await getExisting(url)) as DataSearchResult[]

  modalOthers.value.data = data
  modalOthers.value.start = start
  modalOthers.value.end = end
  modalOthers.value.ourValue = binary.value.data.substring(start * 2, (end + 1) * 2)
  modalOthers.value.groupIds = groupIds
  modalOthers.value.analysis = analysis_
  modalOthers.value.groups = await getExisting('group')
  const selectedGroupIds: Record<number, boolean> = {}
  if (groupIds) {
    for (const groupId of groupIds) {
      selectedGroupIds[groupId] = true
    }
  }
  modalOthers.value.selectedGroupIds = selectedGroupIds
  modalOthers.value.open = true
}

async function reloadOthers() {
  let url = `binary/extract?start=${modalOthers.value.start}&end=${modalOthers.value.end}`
  for (const group of modalOthers.value.groups) {
    if (modalOthers.value.selectedGroupIds[group.id]) {
      url += '&groupIds=' + group.id
    }
  }
  const data = (await getExisting(url)) as DataSearchResult[]
  modalOthers.value.data = data
}

const othersTitle = computed(() => {
  if (!modalOthers.value.open) {
    return ''
  }
  let title =
    modalOthers.value.data.length +
    ' different values in 0x' +
    modalOthers.value.start.toString(16) +
    ' - 0x' +
    modalOthers.value.end.toString(16)
  let groupNames = ''
  for (const group of modalOthers.value.groups) {
    if (modalOthers.value.selectedGroupIds[group.id]) {
      groupNames += group.name
    }
  }
  if (groupNames) {
    title += ' in groups ' + groupNames
  }
  return title
})

function convertToString(data: string) {
  data = data.replace(' ', '')
  let str = ''
  for (let i = 0; i < data.length; i += 2) {
    const tmp = parseInt(data.substr(i, 2), 16)
    if (tmp !== 0) {
      let tmp2
      if (tmp < 32 || (tmp > 126 && tmp < 161)) {
        tmp2 = '.'
      } else {
        tmp2 = String.fromCharCode(tmp)
      }
      str += tmp2
    }
  }
  str = str.trim()
  return str
}

function keyEvent(type: 'start' | 'end', $event: KeyboardEvent) {
  const tmpEnd = parseInt(modalAnalysis.value.analysis.end, 16)
  const tmpStart = parseInt(modalAnalysis.value.analysis.start, 16)
  if (type == 'end') {
    const maxEnd = binary.value.data.length / 2
    if ($event.keyCode == 38) {
      if (tmpEnd < maxEnd - 1) {
        modalAnalysis.value.analysis.end = integerToHexString(tmpEnd + 1)
      }
    } else if ($event.keyCode == 40) {
      if (tmpEnd > tmpStart) {
        modalAnalysis.value.analysis.end = integerToHexString(tmpEnd - 1)
      }
    }
  } else {
    if ($event.keyCode == 38) {
      if (tmpStart < tmpEnd) {
        modalAnalysis.value.analysis.start = integerToHexString(tmpStart + 1)
      }
    } else if ($event.keyCode == 40) {
      if (tmpStart > 0) {
        modalAnalysis.value.analysis.start = integerToHexString(tmpStart - 1)
      }
    }
  }
}

function showOthersModalAnalysis() {
  showOthers(
    parseInt(modalAnalysis.value.analysis.start, 16),
    parseInt(modalAnalysis.value.analysis.end, 16),
    binary.value.groupIds,
    modalAnalysis.value.analysis.id
  )
}

function findModalBulk() {
  if (modalBulk.value.search === '') {
    return []
  }
  const re = new RegExp(modalBulk.value.search, 'g')
  let match
  const result = []

  while ((match = re.exec(binary.value.data))) {
    result.push({ start: match.index, end: match.index + modalBulk.value.search.length })
  }
  return result
}
</script>

<style>
div#position,
div#hexadecimal,
div#decoded {
  font-family: monospace;
  float: left;
  line-height: 130%;
  white-space: nowrap;
  font-size: 130%;
}

div#legend {
  margin-top: 5px;
}

div#decoded,
div#hexadecimal {
  margin-left: 8px;
}

div#legend div.hoverable {
  margin: 0 2px;
}

div#legend > div.hoverable {
  margin-bottom: 10px;
}

div.display_header {
  color: #5c5c5c;
}

span.decoded_or_hex_element_selected {
  border: 1px dashed #333333;
}

span.decoded_or_hex_element {
  cursor: pointer;
}

span.hex_element {
  width: 28.9px;
  margin-right: 14.45px;
}

[contenteditable] {
  outline: 1px dotted #cccccc;
}

div#analysis_entry_dialog td.description,
div#create_group_dialog td.description {
  font-size: 0.7em;
  vertical-align: top;
  padding-top: 0.5em;
}

div#analysis_entry_dialog th,
div#create_group_dialog th {
  text-align: left;
  vertical-align: top;
}

/* Workaround: autocomplete is behind the dialog */
ul.ui-autocomplete {
  z-index: 101;
}

.comma-separated:not(:last-child):after {
  content: ', ';
}

.btn.btn-bulk {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.btn.btn-edit {
  position: fixed;
  bottom: 20px;
  right: 70px;
}

.btn.btn-split-roots {
  position: fixed;
  bottom: 20px;
  right: 120px;
}
</style>
