<template>
  <SingleComponent type="binary" type-plural="binaries" :stub="stub">
    <template #icon>
      <IBiFiles />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="data">
        <BFormTextarea id="control_id_data" v-model="post.data" rows="10" />
      </LabelGroup>
      <LabelGroup label="groups">
        <MultiSelect
          id="control_id_groups"
          v-model="post.groupIds"
          :options="groups"
          option-label="name"
          option-value="id"
          filter
          :placeholder="t('groups')"
        />
      </LabelGroup>
    </template>
    <template #appendix="{ post }">
      <BButton class="btn-analyze" variant="secondary" :title="t('analyze')" @click="analyze(post)">
        <IBiGraphUp />
      </BButton>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import MultiSelect from 'primevue/multiselect'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { saveNew, saveExisting, getExisting } from '@/appframework/lib/rest'
import { useI18n } from 'vue-i18n'
import type { Binary, Group } from '@/appframework'

const route = useRoute()
const router = useRouter()
const { t } = useI18n()

const groups = ref<Group[]>([])
async function init() {
  groups.value = await getExisting('group')
}
init()

function stub() {
  return {} as Binary
}

let analyze: (binary: Binary) => Promise<void>

const isClone = route.path.slice(0, '/binaries/clone'.length) === '/binaries/clone'

if (route.params.id === 'new' || isClone) {
  analyze = async function (binary: Binary) {
    const response = await saveNew('binary', binary)
    if (response.status == 200) {
      binary = await response.json()
      router.push(`/binaries/${binary.id}/analyze`)
    }
  }
} else {
  analyze = async function (binary: Binary) {
    const response = await saveExisting('binary', binary, parseInt(route.params.id as string))
    if (response.status == 204) {
      router.push(`/binaries/${binary.id}/analyze`)
    }
  }
}
</script>

<style scoped>
.btn.btn-analyze {
  position: fixed;
  bottom: 20px;
  right: 70px;
}
</style>
