<template>
  <ListComponent
    type="binary"
    type-plural="binaries"
    :stub="stub"
    name-column="name"
    :colspan-extra="2"
  >
    <template #icon>
      <IBiFiles />
    </template>
    <template #header-extra>
      <BTh>
        <MultiSelect
          v-model="selectedGroupIds"
          :options="groups"
          option-label="name"
          filter
          :placeholder="t('filter_groups')"
        />
      </BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        <span v-for="groupId in dto.groupIds" :key="groupId" class="groupListElement">
          {{ groupname(groupId, groupsLookup) }}
        </span>
      </BTd>
    </template>
    <template #actions-extra="{ dto }">
      <BButton
        :to="`/binaries/${dto.id}/analyze`"
        class="btn btn-sm"
        :variant="statusToVariant(dto)"
      >
        <IBiGraphUp /> {{ t('analyze') }}
      </BButton>
    </template>
    <template #appendix="{ dtos }">
      <BButton :title="t('group')" class="btn-group" @click="addToGroup(dtos)">
        <IBiCollection />
      </BButton>
    </template>
  </ListComponent>

  <BModal
    v-model="modalAddToGroup"
    :title="`Add ${modalAddToGroupBinaries.length} elements to group`"
    cancel-variant="link"
    :cancel-title="t('abort')"
    :ok-title="t('ok')"
    size="lg"
    @ok="addToGroup_impl()"
  >
    <BTableSimple>
      <BTbody>
        <BTr>
          <BTh>{{ t('group') }}</BTh>
          <BTd>
            <MultiSelect
              v-model="selectedGroupIds"
              :options="groups"
              option-label="name"
              filter
              :placeholder="t('filter_groups')"
            />
          </BTd>
        </BTr>
      </BTbody>
    </BTableSimple>
  </BModal>
</template>

<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import MultiSelect from 'primevue/multiselect'

import { getExisting, saveExisting } from '@/appframework/lib/rest'
import type { Binary, Group } from '@/appframework'
import type { ButtonVariant } from 'bootstrap-vue-next'

function stub() {
  return { name: '' } as Binary
}

const { t } = useI18n()

function groupname(input: number, groups: Record<number, Group>) {
  if (typeof groups === 'undefined') {
    return ''
  }
  if (!input) {
    return ''
  }
  const result = groups[input]
  if (!result) {
    return 'Unknown'
  }
  return result.name
}

const groupsLookup = ref<Record<number, Group>>({})
const groups = ref<Group[]>([])
async function init() {
  groups.value = await getExisting('group')
  for (const group of groups.value) {
    groupsLookup.value[group.id] = group
  }
}
init()

function statusToVariant(binary: Binary): ButtonVariant | null {
  if (binary.status == 'NOT') return 'danger'
  if (binary.status == 'AUTO') return 'warning'
  if (binary.status == 'PARTIAL') return 'light'
  if (binary.status == 'COMPLETE') return 'success'
  return null
}

const modalAddToGroup = ref(false)
const modalAddToGroupBinaries = ref<Binary[]>([])
function addToGroup(binaries: Binary[]) {
  modalAddToGroup.value = true
  modalAddToGroupBinaries.value = binaryGroups(binaries)
}

const selectedGroupIds = ref<Group[]>([])
function binaryGroups(binaries: Binary[]) {
  if (
    !binaries ||
    binaries.length === 0 ||
    !selectedGroupIds.value ||
    selectedGroupIds.value.length === 0
  ) {
    return binaries
  }
  const lookup: Record<number, boolean> = {}
  for (const element of selectedGroupIds.value) {
    lookup[element.id] = true
  }
  const result = []
  for (let i = binaries.length - 1; i >= 0; i--) {
    let found = false
    if (binaries[i].groupIds) {
      for (let j = 0; j <= binaries[i].groupIds.length; j++) {
        if (lookup[binaries[i].groupIds[j]]) {
          found = true
          break
        }
      }
    }
    if (found) {
      result.push(binaries[i])
    }
  }
  return result
}

function addToGroup_impl() {
  for (const binary of modalAddToGroupBinaries.value) {
    for (const groupId of selectedGroupIds.value) {
      if (!binary.groupIds) {
        binary.groupIds = [groupId.id]
      } else {
        binary.groupIds.push(groupId.id)
      }
    }
    saveExisting('binary', binary, binary.id)
  }
}
</script>

<style scoped>
.groupListElement:not(:last-child):after {
  content: ', ';
}

.btn.btn-group {
  position: fixed;
  bottom: 20px;
  right: 70px;
}
</style>
