<template>
  <ListComponent type="group" :stub="stub" :colspan-extra="1" admin-permission="ADMIN_BINARIES">
    <template #icon>
      <IBiCollection />
    </template>
    <template #header-extra="{ pager, order }">
      <SortableColumnHeader predicate="description" :pager="pager" :order="order">
      </SortableColumnHeader>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        {{ dto.description }}
      </BTd>
    </template>
  </ListComponent>
</template>

<script setup lang="ts">
import SortableColumnHeader from '@/appframework/components/SortableColumnHeader.vue'
import type { Group } from '@/appframework'

function stub() {
  return {} as Group
}
</script>

<style scoped>
ul.pagination {
  margin-bottom: 0;
}
</style>
