<template>
  <SingleComponent type="group" :stub="stub" admin-permission="ADMIN_BINARIES">
    <template #icon>
      <IBiCollection />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="description">
        <BFormTextarea id="control_id_description" v-model="post.description" />
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type { Group } from '@/appframework'

function stub() {
  return {} as Group
}
</script>
