<template>
  <SingleComponent type="plugin" :stub="stub" name-column="qualifiedName">
    <template #icon>
      <IBiPlugin />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="sourcecode">
        <BFormTextarea id="control_id_source" v-model="post.source" rows="10" />
      </LabelGroup>
      <LabelGroup label="extension_point">
        <BDropdown id="control_id_extension_point" :text="post.extensionPoint">
          <BDropdownItem
            v-for="extensionPoint of extensionPoints"
            :key="extensionPoint"
            @click="post.extensionPoint = extensionPoint"
            >{{ extensionPoint }}</BDropdownItem
          >
        </BDropdown>
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref } from 'vue'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type { ExtensionPoint, Plugin } from '@/appframework'

const extensionPoints = ref(['CREATE_AUTO_ANALYZE'] as ExtensionPoint[])

function stub() {
  return {
    qualifiedName: 'de.christophbrill.hexanalyzer.util.plugins.MyBinaryAnalyzer',
    source:
      'package de.christophbrill.hexanalyzer.util.plugins;\n' +
      '\n' +
      'import de.christophbrill.hexanalyzer.persistence.model.BinaryEntity;\n' +
      '\n' +
      'public class MyBinaryAnalyzer implements BinaryAnalyzer {\n' +
      '    public void analyze(BinaryEntity binary) {\n' +
      '        // Your code goes here\n' +
      '    }\n' +
      '}',
    extensionPoint: 'CREATE_AUTO_ANALYZE'
  } as Plugin
}
</script>
