<template>
  <ListComponent type="plugin" :stub="stub" :colspan-extra="1" name-column="qualifiedName">
    <template #icon>
      <IBiPlugin />
    </template>
    <template #header-extra>
      <BTh>{{ t('compiled') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        <IBiCheck v-if="dto.compiled" />
      </BTd>
    </template>
  </ListComponent>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n'

import type { Plugin } from '@/appframework'

function stub() {
  return { qualifiedName: '' } as Plugin
}

const { t } = useI18n()
</script>
