<script lang="ts" setup>
import type { AnalsyisGroup, AnalysisElement } from '@/views/AnalysesView.vue'
import { type Reactive } from 'vue'

const props = defineProps<{
  group: AnalsyisGroup
  cssMap: Record<string, string>
  hovered: Reactive<string[]>
}>()

const emits = defineEmits<{
  (e: 'selected', offset: string, target: HTMLElement): void
  (e: 'hover', name: string): void
  (e: 'unhover', name: string): void
}>()

function onEnter(e: MouseEvent, name: string) {
  if (!name) {
    return
  }
  emits('hover', name)
}

function onLeave(e: MouseEvent, name: string) {
  if (!name) {
    return
  }
  emits('unhover', name)
}
</script>

<template>
  <span
    :style="
      hovered[hovered.length - 1] == group.name
        ? cssMap['.' + group.name + ':hover']
        : cssMap['.' + group.name]
    "
    @mouseenter="e => onEnter(e, group.name)"
    @mouseleave="e => onLeave(e, group.name)"
  >
    <template v-for="(child, index) of group.children" :key="index">
      <HexComponent
        v-if="child.hasOwnProperty('name')"
        :group="child as AnalsyisGroup"
        :css-map="cssMap"
        class="hoverable"
        :hovered="hovered"
        @selected="(offset, target) => emits('selected', offset, target)"
        @hover="name => emits('hover', name)"
        @unhover="name => emits('unhover', name)"
      />
      <span
        v-else
        :id="`hex_element_${(child as AnalysisElement).offset}`"
        class="decoded_or_hex_element hoverable hex_element"
        @click="e => emits('selected', (child as AnalysisElement).offset, e.target as HTMLElement)"
      >
        {{ (child as AnalysisElement).hex }}
      </span>
      <br v-if="(child as AnalysisElement).index % 16 == 15" />
    </template>
  </span>
</template>
