<script lang="ts" setup>
import type { Analysis } from '@/appframework'
import { deleteExisting } from '@/appframework/lib/rest'
import type { AnalsyisGroup } from '@/views/AnalysesView.vue'
import type { Reactive } from 'vue'

const props = defineProps<{
  group: AnalsyisGroup
  cssMap: Record<string, string>
  hovered: Reactive<string[]>
}>()

const emits = defineEmits<{
  (e: 'changed'): void
  (e: 'edit', analysisId: number): void
  (e: 'split', analysisId: number): void
  (e: 'showOthers', group: AnalsyisGroup): void
  (e: 'hover', name: string): void
  (e: 'unhover', name: string): void
}>()

function analysisLength(analysis: Analysis) {
  return parseInt(analysis.end, 16) - parseInt(analysis.start, 16) + 1
}

async function removeAnalysis(analysisId: number) {
  await deleteExisting('analysis', analysisId)
  emits('changed')
}

function onEnter(e: MouseEvent, name: string) {
  if (!name) {
    return
  }
  emits('hover', name)
}

function onLeave(e: MouseEvent, name: string) {
  if (!name) {
    return
  }
  emits('unhover', name)
}
</script>

<template>
  <div
    :style="
      hovered[hovered.length - 1] == group.name
        ? cssMap['.' + group.name + ':hover']
        : cssMap['.' + group.name]
    "
    @mouseenter="e => onEnter(e, group.name)"
    @mouseleave="e => onLeave(e, group.name)"
  >
    <template v-for="(child, index) of group.children" :key="index">
      <LegendComponent
        v-if="child.hasOwnProperty('name')"
        :group="child as AnalsyisGroup"
        :css-map="cssMap"
        :hovered="hovered"
        class="hoverable"
        @changed="emits('changed')"
        @edit="analysisId => emits('edit', analysisId)"
        @split="analysisId => emits('split', analysisId)"
        @show-others="group => emits('showOthers', group)"
        @hover="name => emits('hover', name)"
        @unhover="name => emits('unhover', name)"
      />
    </template>
    <span
      v-if="group.hasOwnProperty('name')"
      :key="group.analysis.id"
      :class="`hoverable ${group.name}`"
    >
      {{ group.analysis.description ? group.analysis.description : group.name }} ({{
        analysisLength(group.analysis)
      }}
      Bytes)
      <a title="edit" @click="emits('edit', group.analysis.id)"><IBiPencil /></a>
      <a title="show others" @click="emits('showOthers', group)"><IBiSearch /></a>
      <a title="delete" @click="removeAnalysis(group.analysis.id)"><IBiTrash /></a>
      <a title="split" @click="emits('split', group.analysis.id)"><IBiScissors /></a>
    </span>
  </div>
</template>
