<div class="modal-header">
  <h3 class="modal-title" ng-bind="vm.title"></h3>
</div>
<div class="modal-body">
  <div class="form-group class row">
      <div  ng-repeat="group in vm.groups">
    <div class="col-sm-6 label-group-content">
    <div class="checkbox row">
      <input class="col-sm-2" type="checkbox" ng-model="vm.selectedGroupIds[group.id]" ng-change="vm.reload()" id="id_control_group{{group.id}}"/>
      <label class="col-sm-10 control-label" ng-bind="group.name" for="id_control_group{{group.id}}"></label>
    </div>
    </div>
    </div>
  </div>
  <table style="width: 100%" class="table table-striped">
    <tr ng-repeat="d in vm.data" ng-style="{ 'background-color': d.data.replaceAll(' ', '') == vm.ourValue ? 'rgb(251, 231, 173)' : 'none' }">
      <th style="vertical-align: top">
        <div ng-bind="d.data"></div>
        <div ng-bind="vm.convertToString(d.data)"></div>
      </th>
      <td style="vertical-align: top;">
        <div class="row" ng-repeat="binary in d.binaries track by $index" title="{{binary.analyses.length > 0 ? binary.analyses[0].description : ''}}">
          <span class="col-sm-8" ng-style="{'color': binary.analyses.length > 0 ? binary.analyses[0].color : 'inherit'}">{{binary.name}}{{$last ? '' : ', '}}</span>
          <div class="col-sm-4">
            <button class="btn btn-light btn-sm" href="" ng-click="vm.switchToAnalysis(binary)"><i class="fa fa-clone"></i> {{'analyze' | translate}}</button>
            <button class="btn btn-light btn-sm" href="" ng-click="vm.switchToBinary(binary)"><i class="fa fa-pencil"></i> {{'edit' | translate}}</button>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <div class="control-content">
    <button ng-repeat="button in vm.confirmButtons" class="btn btn-primary" ng-click="vm.ok(button.value)" ng-bind="button.label"></button>
    <a href="" ng-repeat="button in vm.cancelButtons" ng-click="vm.cancel(button.value)" ng-bind="button.label"></a>
  </div>
</div>

