<h1 class="page-header"><i class="fa fa-file"></i> Analysis for {{vm.binary.name}}</h1>
<a ng-click="vm.splitByRoots()">Split by roots</a>
<div class="row">
 <div class="col-sm-8">
  <div id="position"></div>
  <div id="hexadecimal"></div>
  <div id="decoded"></div>
 </div>
 <div id="legend" compile="vm.legend" class="col-sm-4"></div>
</div>
<div style="float:left; margin: 8px;">
<div class="btn-group">
 <button ng-click="vm.not()" class="btn btn-secondary" ng-class="{'active': vm.binary.status == 'NOT'}" ><i class="fa fa-check-square-o"></i> Not analyzed</button>
 <button class="btn btn-secondary" disabled ng-class="{'active': vm.binary.status == 'AUTO'}"><i class="fa fa-check-square-o"></i> Auto-analyzed</button>
 <button ng-click="vm.complete()" class="btn btn-secondary" ng-class="{'active': vm.binary.status == 'COMPLETE'}"><i class="fa fa-check-square-o"></i> Complete</button>
 <button ng-click="vm.partial()" class="btn btn-secondary" ng-class="{'active': vm.binary.status == 'PARTIAL'}"><i class="fa fa-star-half"></i> Partial</button>
</div>
<button ng-click="vm.bulkCreate()" class="btn btn-primary"><i class="fa fa-tasks"></i> Bulk create</button>
<button ng-click="vm.edit()" class="btn btn-light"><i class="fa fa-pencil"></i> Edit binary</button>
</div>
