<div class="modal-header">
  <h3 class="modal-title" ng-bind="vm.title"></h3>
</div>
<form class="form-horizontal" name="form">
<div class="modal-body">
  <table>
    <tr ng-class="{'has-error': form.analysis_name.$invalid && form.analysis_name.$touched}">
      <th><label for="analysis_name">Name*</label></th>
      <td><input type="text" id="analysis_name" name="analysis_name" ng-pattern="/^[a-z0-9_]+$/" ng-model="vm.analysis.name" style="width: 250px;" class="form-control" required />
      <td class="description">Unique name of this datapart within the packet (e.g. \'header0\')</td>
    </tr>
    <tr ng-class="{'has-error': form.analysis_search.$invalid && form.analysis_search.$touched}">
      <th><label for="analysis_search">Search*</label></th>
      <td><input type="text" id="analysis_search" name="analysis_search" ng-model="vm.search" style="width: 150px; display: inline-block;" class="form-control" required /> ({{vm.find().length}} matches)</td>
      <td class="description">Create analysis blocks for the value</td>
    </tr>
    <tr ng-class="{'has-error': form.analysis_description.$invalid && form.analysis_description.$touched}">
      <th><label for="analysis_description">Description*</label></th>
      <td><textarea id="analysis_description" name="analysis_description" rows="4" cols="30" style="width: 250px;" ng-model="vm.analysis.description" class="form-control" required></textarea></td>
      <td class="description">Human readable description of this datapart</td>
    </tr>
    <tr ng-class="{'has-error': form.analysis_color.$invalid && form.analysis_color.$touched}">
      <th><label for="analysis_color">Color*</label></th>
      <td><div class="ui-widget"><input type="text" id="analysis_color" name="analysis_color" ng-model="vm.analysis.color" style="width: 250px;" class="form-control" required /></div></td>
      <td class="description">Color to be used for this datapart</td>
    </tr>
    <tr ng-class="{'has-error': form.analysis_foregroundColor.$invalid && form.analysis_foregroundColor.$touched}">
      <th><label for="analysis_foregroundColor">Foregroundcolor</label></th>
      <td><div id="analysis_foregroundColor" name="analysis_foregroundColor" class="ui-widget"><input type="text" ng-model="vm.analysis.foregroundColor" style="width: 250px;" class="form-control" /></div></td>
      <td class="description">Foregroundcolor to be used for this datapart (optional)</td>
    </tr>
  </table>
</div>
<div class="modal-footer">
  <div class="control-content">
    <button ng-repeat="button in vm.confirmButtons" class="btn btn-primary" ng-click="vm.ok(button.value)" ng-bind="button.label" ng-disabled="form.$invalid"></button>
    <a href="" ng-repeat="button in vm.cancelButtons" ng-click="vm.cancel(button.value)" ng-bind="button.label"></a>
  </div>
</div>
</form>
