@import '../appframework/css/appframework.css';

/* Selected lines in tables */
.table > tbody > tr.selected > td {
  background-color: #428bca;
  color: #fff;
}

/* Sortable table columns */
.sortable {
  cursor: pointer;
}
.sortorder:after {
  content: '\25bc';
}
.sortorder.reverse:after {
  content: '\25b2';
}

/* Remove margin at bottom of autocomplete */
ul.p-autocomplete-input-multiple {
  margin-bottom: 0;
}

/** Override --p-inputtext-padding-y and --p-inputtext-padding-x */
input.p-inputtext {
  padding: 0.375rem 0.75rem;
}

ul.p-autocomplete-input-multiple {
  padding: 0.1875rem 0.375rem;
}
